{% extends "website/master.html" %}
{% load custom_tags %}
{% load i18n %}
{% block title %}{% trans 'Reset Password' %}{% endblock %}
{% block meta %}
    <meta name="robots" content="noindex">
{% endblock %}
{% block css %}
    <link href="{% static_build 'account/css/password-reset.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}
<main>
    <div class="panel">
        <div class="inner">
            <h1>{% trans 'Reset Password' %}</h1>
            <p class="hint">
                {% blocktrans trimmed %}
                Forgot your password? Enter your email below, we will send you
                instructions to generate a new password.
                {% endblocktrans %}
            </p>
            <form method="post" action="{% url 'account:password_reset' %}">
                {% csrf_token %}
                <div class="field">
                    <label for="{{form.email.id_for_label}}">
                        {{form.email.label}}:
                    </label>
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
                <button type="submit" class="btn-reset">
                    {% trans 'Reset my Password' %}
                </button>
            </form>
        </div>
    </div>
</main>
{% endblock %}
