{% extends "website/master.html" %}
{% load custom_tags %}
{% load i18n %}
{% block title %}{% trans 'Password Reset' %}{% endblock %}
{% block meta %}
    <meta name="robots" content="noindex">
{% endblock %}
{% block css %}
    <link href="{% static_build 'account/css/password-reset-confirm.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}
<main>
    <div class="panel">
        <div class="inner">
            {% if validlink %}
            <h1>{% trans 'Reset Password' %}</h1>
            <p class="hint">
                {% blocktrans trimmed %}
                Please enter your new password twice so we can verify you typed
                it in correctly.
                {% endblocktrans %}
            </p>
            <form method="post">
                {% csrf_token %}
                <div class="field">
                    <label for="{{form.new_password1.id_for_label}}">
                        {% trans 'New password' %}:
                    </label>
                    {{ form.new_password1 }}
                    {{ form.new_password1.errors }}
                </div>
                <div class="field">
                    <label for="{{form.new_password2.id_for_label}}">
                        {% trans 'Confirm password' %}:
                    </label>
                    {{ form.new_password2 }}
                    {{ form.new_password2.errors }}
                </div>
                <div class="buttons">
                    <button type="submit" class="btn-change">
                        {% trans 'Change my password' %}
                    </button>
                </div>
            </form>
            {% else %}
            <p class="invalid-link">
                {% blocktrans trimmed %}
                The password reset link was invalid, possibly because it has
                already been used.  Please request a new password reset.
                {% endblocktrans %}
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
