.panel {
    padding: 15px 25px;
    margin: 10px;
    background: #FFF;
    border-radius: 5px;
}

.panel h1 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.hint {
    margin-bottom: 20px;
}

.error {
    color: red;
    margin-bottom: 15px;
}

.field {
    margin-bottom: 15px;
}

.field label {
    display: block;
    margin-bottom: 4px;
}

.field input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.field .errorlist {
    margin-top: 4px;
    color: red;
    font-size: 0.9rem;
}

.buttons {
    margin-top: 25px;
}

.btn-change {
    width: 100%;
    padding: 12px 10px;
    color: #FFF;
    font-size: 1rem;
    border-radius: 3px;
    background-color: #E3152D;
    border: none;
    cursor: pointer;
}

.invalid-link {
    line-height: 1.5rem;
}

@media (min-width : 375px) {
    .panel {
        margin: 10px auto;
        width: 350px;
    }

    .inner {
        margin: 0 auto;
        width: 300px;
    }
}
